@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<!-- Hrader menu -->
@await Component.InvokeAsync("_CustomerLayoutHeaderPartial")
<!-- Hrader menu -->

<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">

            <!-- Sidebar menu -->
            @await Component.InvokeAsync("_CustomerLayoutSidebarPartial")
            <!-- Sidebar menu -->W

            <!-- top navigation -->
            @await Component.InvokeAsync("_CustomerLayoutNavbarPartial")
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h2>@RenderBody()</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            @await Component.InvokeAsync("_CustomerLayoutFooterPartial")
            <!-- /footer content -->
        </div>
    </div>

    <!-- /Scripts-->
    @await Component.InvokeAsync("_CustomerLayoutScriptPartial")
    <!-- /Scripts-->


</body>
</html>