@model ConfirmMailViewModel;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activate Your Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 800px; 
            background-color: #fff;
            margin-top: 50px; 
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            width: 100%;
            border-radius: 5px;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }
    </style>
</head>
<body>

    <div class="card">
        <h3 class="text-center mb-4">Activate Your Account</h3>
        <form method="post">
            <div class="form-group">
                <h2>E-mail Adress of the User: @ViewBag.v</h2>
                <br />
                <label >User ID Value</label>
                <input type="text" class="form-control" asp-for="Mail" value="@ViewBag.v" />
                <br />
                <label for="activationCode">Enter the code you received</label>
                <input type="text" asp-for="ConfirmationCode" id="activationCode" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Activate</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
